body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

h1 {
  text-align: center;
}

.carousel {
  width: 100%;
}

.slides {
  position: relative;
  width: 100%;
  height: 60vh;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 20px;
}

.slide {
  position: absolute;
  height: 100%;
  inset: 0;
  opacity: 0;
  transition: opacity 1s;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 10px;
  }
}

.active {
  opacity: 1;
}

.control {
  position: absolute;
  z-index: 2;
  color: white;
  cursor: pointer;
  user-select: none;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;

  &:hover,
  &:focus {
    color: white;
  }
}

.control-prev {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding-left: 20px;
  font-size: 3rem;
}

.control-next {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  padding-right: 20px;
  font-size: 3rem;
}

.control-pause {
  top: 50%;
  left: 50%;
  height: 0;
  padding: 0;

  transition: opacity 0.25s ease-out;
  opacity: 0;
  > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25vh;
    color: rgba(255, 255, 255, 0.8);
  }
}

.control-pause:hover {
  transition: opacity 1s ease-in 0.5s;

  opacity: 1;
}

.indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  &.active {
    background-color: burlywood;
  }
}
